<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.testpress.testpress"
    android:versionCode="106"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".TestpressApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Testpress.Dark">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"></activity>

        <service
            android:name=".authenticator.AccountAuthenticatorService"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".core.TestpressGCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->


        <!-- [START instanceId_listener] -->
        <service
            android:name=".core.TestpressInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

        <service
            android:name=".authenticator.RegistrationIntentService"
            android:exported="false"></service>

        <activity
            android:name=".authenticator.LoginActivity"
            android:excludeFromRecents="true">

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        <activity
            android:name=".ui.ExamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Review"></activity>
        <activity
            android:name=".ui.PostActivity"
            android:label="Article"
            android:parentActivityName=".ui.PostsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.testpress.testpress.ui.PostsListActivity" />
        </activity>
        <activity
            android:name=".ui.AttemptsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Attempts List"></activity>
        <activity
            android:name=".authenticator.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Register"></activity>
        <activity
            android:name=".authenticator.CodeVerificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Verify"></activity>
        <activity
            android:name=".ui.ExamsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Exams"></activity>
        <activity
            android:name=".ui.ProductsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Products"></activity>
        <activity
            android:name=".ui.ProductDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Product Details"></activity>
        <activity
            android:name=".ui.PostsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Articles"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.testpress.testpress.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.OrdersListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Orders"></activity>
        <activity
            android:name=".ui.PaymentSuccessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Summary"></activity>
        <activity
            android:name=".ui.OrderConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Shipping Address"></activity>
        <activity
            android:name=".ui.paymentGateway.PaymentModeActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Select Payment Mode"></activity>
        <activity
            android:name=".ui.paymentGateway.CreditDebitCardActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Enter Details"></activity>
        <activity
            android:name=".ui.paymentGateway.NetBankingActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Select Bank"></activity>
        <activity
            android:name=".ui.paymentGateway.PaymentsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ui.ProfileDetailsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Profile Details"></activity>
        <activity
            android:name=".ui.ProfilePhotoActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Profile Photo"></activity>
        <activity
            android:name=".ui.CropImageActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Crop Image"></activity>
        <activity
            android:name=".authenticator.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password_verification"></activity>

        <activity
            android:name=".ui.SearchActivity"
            android:configChanges="orientation|keyboard|screenSize"/>

    </application>

</manifest>
