<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.testpress.testpress" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:name=".TestpressApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Testpress.Dark">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="@string/host_url"/>
                <data android:scheme="http" android:host="@string/host_url" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />

        <service
            android:name=".authenticator.AccountAuthenticatorService"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".core.TestpressGCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->


        <!-- [START instanceId_listener] -->
        <service
            android:name=".core.TestpressInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

        <service
            android:name=".authenticator.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".authenticator.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:excludeFromRecents="true">

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>

        <activity
            android:name=".ui.PostActivity"
            android:label="Article"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".ui.ForumActivity"
            android:label="Article"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".ui.CreateForumActivity"
            android:label="Create Forum Post"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".authenticator.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Register" />
        <activity
            android:name=".authenticator.CodeVerificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Verify" />

        <activity
            android:name=".ui.ProductsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Products" />
        <activity
            android:name=".ui.ProductDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Product Details" />

        <activity
            android:name=".ui.DocumentsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Documents" />

        <activity
            android:name=".ui.PostsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Articles" />

        <activity
            android:name=".ui.ForumListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Discussions" />

        <activity
            android:name=".ui.OrdersListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Orders" />
        <activity
            android:name=".ui.PaymentSuccessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Summary" />
        <activity
            android:name=".ui.OrderConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Shipping Address" />
        <activity
            android:name=".ui.paymentGateway.PaymentModeActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Select Payment Mode" />
        <activity
            android:name=".ui.paymentGateway.CreditDebitCardActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Enter Details" />
        <activity
            android:name=".ui.paymentGateway.NetBankingActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Select Bank" />
        <activity
            android:name=".ui.paymentGateway.PaymentsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.ProfileDetailsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Profile Details" />
        <activity
            android:name=".ui.ProfilePhotoActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Profile Photo" />
        <activity
            android:name=".ui.CropImageActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Crop Image" />
        <activity
            android:name=".authenticator.ResetPasswordActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_reset_password_verification" />

        <activity
            android:name=".ui.ZoomableImageActivity" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AccountActivateActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/activate" />

    </application>

</manifest>
